.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    height: 6vh;
    top: 0;
    width: 100vw;
    padding: 10px;
    align-items: center;
    background-color: #FB1F62;
    z-index: 1;
}
.navbar_left{
    margin-left: 5px;
}
.navbar_right{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 20px;
    margin-left: auto;
    margin-right: 35px;
}
.Home{
    color: white;
}
.Home>p{
    color: white;
}

.navbar_right>.MuiButton-text{
    color: white;
    font-size: 15px;
}
.navbar_right>.MuiIconButton-root{
    color: white;
}
