.session{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 100px;
    
}
.video{
    display: flex;
    justify-content: center;
}
.video>video{
    margin-right: 40px;
    height: 80vh;
    width: 70vw;
 box-shadow: 0 0 53px darkgray;
}
.calender{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.video_content{
    display: flex;
    flex-direction: column;
}
.video_content>p{
    font-size: 25px;
    color: rgb(136, 133, 133);
    font-family: 'Alegreya', serif;
}
.video_content > h1{
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#1D6ED8;
}
.fund_raising{
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
